<div class="sidebar">
  <div class="sidebar-inner">
    <div class="user">
      <a href="/">
        <img src="/img/avatar.jpg" width="80" height="80" />
      </a>
    </div>
    <h1><a href="/">John Johnson</a></h1>
    <div class="description">
      <p>Father, husband, technology geek, software ninjaneer for <a href="https://twitter.com/lightspeedsys">@lightspeedsys</a>.</p>
    </div>

    <div class="social">
      <ul>
        <li>
          <a href="http://www.twitter.com/johnernaut" target="_blank">
            twitter
          </a>
        </li>
        <li>
          <a href="http://www.github.com/johnernaut" target="_blank">
            github
          </a>
        </li>
        <li>
          <a href="http://stackoverflow.com/users/753177" target="_blank">
            stack overflow
          </a>
        </li>
      </ul>
    </div> <!-- /social -->
  </div>
</div>
